{% extends "layout.html" %}
{% block title %}Change Password{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <span class="badge badge-info">{{ message }}</span>
    {% endfor %}
    {%  if errors %}
        <span class="badge badge-warning">{{ errors }}</span>
    {% endif %}
    <div class="row">
        <div class="col-sm-7 mx-auto my-auto" style="padding-top: 140px;">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center my-auto">Changing Password for {{ user }}</h5>
                </div>
                <div class="card-block">
                    <form method="POST" action="/change_password" class="form-group">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="username" value="{{ user }}">
                        <br>
                        <div class="row">
                            <div class="col col-lg-3">
                                <font size="-1">Password:</font>
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.password.label }} {{ form.password(size=40) }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col col-lg-3">
                                <font size="-2">Re-Enter Password:</font>
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.retype_password.label }} {{ form.retype_password(size=40) }}
                            </div>
                        </div>
                        <br><br>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-4">
                                {{ form.submit(class="form-control btn btn-secondary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
