{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <span class="badge badge-info">{{ message }}</span>
    {% endfor %}
    {%  if errors %}
        <span class="badge badge-warning">{{ errors }}</span>
    {% endif %}
    <div class="row">
        <div class="col-md-6 mx-auto my-auto" style="padding-top:120px">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Sign In</h1>
                </div>
                <div class="card-block">
                    <form method="POST" action="/login" class="form-group">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <br>
                        <div class="row mx-auto">
                            <div class="col col-lg-2">
                                Username:
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.username.label }} {{ form.username(size=40) }}
                            </div>
                        </div>
                        <br>
                        <div class="row mx-auto">
                            <div class="col col-lg-2">
                                Password:
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.password.label }} {{ form.password(size=40) }}
                            </div>
                        </div>
                        <br><br>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-4">
                                {{ form.submit(class="form-control btn btn-secondary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
