{% extends "layout.html" %}
{% block title %}Add User{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <span class="badge badge-info">{{ message }}</span>
    {% endfor %}
    {%  if errors %}
        <span class="badge badge-warning">{{ errors }}</span>
    {% endif %}
    <div class="row">
        <div class="col-sm-8 mx-auto my-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center my-auto">Register New User</h3>
                </div>
                <div class="card-block">
                    <form method="POST" action="/add_user" class="form-group">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <br>
                        <div class="row">
                            <div class="col col-lg-3">
                                <font size="-1">Username:</font>
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.username.label }} {{ form.username(size=40) }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col col-lg-3">
                                <font size="-1">Full Name:</font>
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.fullname.label }} {{ form.fullname(size=40) }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col col-lg-3">
                                <font size="-1">Password:</font>
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.password.label }} {{ form.password(size=40) }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col col-lg-3">
                                <font size="-2">Re-Enter Password:</font>
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.retype_password.label }} {{ form.retype_password(size=40) }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col col-lg-3">
                                <font size="-1">Department:</font>
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.department }}
                            </div>
                        </div>
                        {% if current_user.admin %}
                        <br>
                        <div class="row">
                            <div class="col col-lg-3">
                                <font size="-1"></font>
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.admin }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col col-lg-3">
                                <font size="-1"></font>
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.supervisor }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col col-lg-3">
                                <font size="-1"></font>
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.hourly }}
                            </div>
                        </div>
                        {% elif current_user.supervisor %}
                        <br>
                        <div class="row">
                            <div class="col col-lg-3">
                                <font size="-1"></font>
                            </div>
                            <div class="col-12 col-md-auto">
                                {{ form.hourly }}
                            </div>
                        </div>
                        {% endif %}
                        <br>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-4">
                                {{ form.submit(class="form-control btn btn-secondary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
