{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <span class="badge badge-info">{{ message }}</span>
    {% endfor %}
    {%  if errors %}
        <span class="badge badge-warning">{{ errors }}</span>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <h5 class="text-center card-title my-auto">Logged in as {{ current_user.username }}</h5>
        </div>
        <div class="card-block">
            <table class="table">
                <thead class="thead-default">
                <tr>
                    <th class="w-35 text-center">Username</th>
                    <th class="w-25 text-center">Status</th>
                    <th class="w-35 text-center">Department</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in users %}
                <tr>
                    <td class="text-center">{{ item.username }}</td>
                    {% if item.admin %}
                        <td class="text-center">admin</td>
                    {% elif item.supervisor %}
                        <td class="text-center">supervisor</td>
                    {% else %}
                        <td class="text-center">user</td>
                    {% endif %}
                    <td class="text-center">{{ item.department }}</td>
                    {% if not item.admin or current_user.admin %}
                        <td class="text-center">
                            <form action="/new_password" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="submit" class="btn btn-info btn-sm" value="Change Password">
                                <input type="hidden" name="username" value="{{ item.username }}">
                            </form>
                        </td>
                        {% if current_user.admin %}
                        <td class="text-center">
                            <form action="/remove_user" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="submit" class="btn btn-danger btn-sm" value="Remove User" onclick="return confirm('Are you sure?')">
                                <input type="hidden" name="username" value="{{ item.username }}">
                            </form>
                        </td>
                        {% endif %}
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if current_user.supervisor or current_user.admin %}
                <div class="row justify-content-md-center">
                    <a href="/add_user">Add User</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
