{% extends "layout.html" %}
{% block title %}Add Punch{% endblock %}
{% block head %}
    {{ super() }}

    <script src="{{ url_for('static', filename='./js/bootstrap-datepicker.js') }}"></script>
    <link href="{{ url_for('static', filename='./css/bootstrap-datepicker.css') }}" rel="stylesheet" media="screen">

    <script src="{{ url_for('static', filename='./js/jquery.timepicker.js') }}"></script>
    <link href="{{ url_for('static', filename='./css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">

{% endblock %}
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <span class="badge badge-info">{{ message }}</span>
    {% endfor %}
    {%  if errors %}
        <span class="badge badge-warning">{{ errors }}</span>
    {% endif %}
    <div class="row">
        <div class="col-sm-6 mx-auto my-auto" style="padding-top: 100px;">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center my-auto">Editing Punch #{{punch.id}}</h3>
                </div>
                <div class="card-block">
                    <form action="/edit_punch" method="POST" class="form-group">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="punch_id" value="{{ punch.id }}">
                        <br>
                        <div class="row mx-auto">
                            <div class="col col-lg-3">
                                <font size="-1">Date:</font>
                            </div>
                            <div class="col-12 col-md-auto">
                                <input type="text" id="date" value="{{ punch.time.strftime('%Y-%m-%d') }}" name="date" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])">
                            </div>
                        </div>
                        <br>
                        <div class="row mx-auto">
                            <div class="col col-lg-3">
                                <font size="-1">Time:</font>
                            </div>
                            <div class="col-12 col-md-auto">
                                <input type="text" id="time" value="{{ punch.time.strftime('%I:%M%p') }}" name="time" pattern="(1[012]|[1-9]):[0-5][0-9](\\s)?(?i)(am|pm)">
                            </div>
                        </div>
                        <br>
                        <div class="row mx-auto">
                            <div class="col col-lg-3">
                                <font size="-1">Name:</font>
                            </div>
                            <div class="col-12 col-md-auto">
                                <input type="text" id="name" value="{{ punch.name }}" name="name">
                            </div>
                        </div>
                        <br>
                        <div class="row mx-auto">
                            <div class="col col-lg-3">
                                <font size="-1">Status:</font>
                            </div>
                            <div class="col-12 col-md-auto">
                                <select name="status" id="status">
                                    <option value="in">In</option>
                                    <option value="out">Out</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-4">
                                <input type="submit" value="Save" name="action" class="btn btn-secondary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#date').datepicker({
        'format': 'yyyy-mm-dd'
    });

    $('#time').timepicker({
        'step': 1,
        'timeFormat': 'g:ia',
        'scrollDefault': 'now'
    });
</script>

{% endblock %}
