<!doctype html>
<html lang="en">
<head>
{% block head %}
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='./css/bootstrap.min.css') }}" rel="stylesheet" media="screen">

    <!-- Javascript -->
    <script src="{{ url_for('static', filename='./js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/bootstrap.min.js') }}"></script>

    <link href="{{ url_for('static', filename='./css/timeclock.css') }}" rel="stylesheet" media="screen">

    <title>{% block title %}Shaffer Time-Clock{% endblock %}</title>
{% endblock %}
</head>

<body>

    {% if current_user.is_authenticated %}
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='./Logo_small.png') }}"></a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Clock-In/Out<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_totals" role="button">View Hours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_past_periods" role="button">View Archives</a>
                </li>
                {% if current_user.supervisor or current_user.admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/view_all_totals" role="button">View Totals</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav mr-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/login" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.username }}</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% if current_user.supervisor or current_user.admin %}
                        <a class="dropdown-item" href="/settings">Settings</a>
                        {% else %}
                        <a class="dropdown-item" href="/new_password">Change Password</a>
                        {% endif %}
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    {% else %}
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='./Logo_small.png') }}"></a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Clock-In/Out<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-right">
                <li class="nav-item navbar-right">
                    <a class="nav-link" href="/login" role="button">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endif %}

{% block content %}
{% endblock %}

</html>
