{% extends 'layout.html' %}
{% block title %}Clock-In{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron row">
        <h1 class="col">Employee TimeClock</h1>
        <iframe src="http://free.timeanddate.com/clock/i6152phd/n3348/fs28/tct/pct/ftb/tt0/tw1/tm1/ts1/tb4" frameborder="0" width="248" height="66" allowTransparency="true"></iframe>
    </div>
    {% for message in get_flashed_messages() %}
        <span class="badge badge-info">{{ message }}</span>
    {% endfor %}
    {%  if errors %}
        <span class="badge badge-warning">{{ errors }}</span>
    {% endif %}
    <br><br>
    <div class="card mx-auto" style="width: 25rem">
        <div class="card-block">
            <form id="add_punch" action="/add_punch" class="form-group" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <br>
                <div class="form-group row justify-content-md-center">
                    <div class="form-group col">
                        Username:
                        {{ form.employee(class="form-control") }}
                    </div>
                </div>
                <div class="form-group row justify-content-md-center">
                    <div class="form-group col-sm-4">
                        {{ form.punch_type(class="form-control") }}
                    </div>
                    <div class="form-group col-md">
                        {{ form.submit(class="form-control btn btn-secondary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
