{% extends 'layout.html' %}
{% block title %}View punches{% endblock %}
{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src=https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js></script>

    <script src="{{ url_for('static', filename='./js/bootstrap-datepicker.js') }}"></script>
    <link href="{{ url_for('static', filename='./css/bootstrap-datepicker.css') }}" rel="stylesheet" media="screen">

    <script src="{{ url_for('static', filename='./js/jquery.timepicker.js') }}"></script>
    <link href="{{ url_for('static', filename='./css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">


{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <span class="badge badge-info">{{ message }}</span>
    {% endfor %}
    {%  if errors %}
        <span class="badge badge-warning">{{ errors }}</span>
    {% endif %}
    <br>
    {% if pay_period %}
        <h3>Displaying Pay Period: {{ pay_period[0].strftime("%b %d, %Y") }} to {{ pay_period[1].strftime("%b %d, %Y") }}</h3>
    {% endif %}

    <h4>Hello, {{current_user.fullname}}!</h4>

    <hr>
    <form action="/view_all_totals" method="POST" class="form-group">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row">
            <div class="form-group col col-2" style="padding-right:0px;">
                Select Pay Period:
                <input class="form-control" type="text" id="date" name="date" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])">
            </div>
            <div class="form-group col col-2 my-4" style="padding:0px;">
                <input type="submit" value="Submit" name="action" class="btn btn-secondary">
            </div>
        </div>
    </form>
    <hr>
    {% if totals %}
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total</th>
                </tr>
            </thead>
            {% for employee, total in totals.items() %}
                <tr>
                    <td class="text-left" style="font:18px sans-serif;">{{employee}}</td>
                    <td class="text-left" style="font:18px sans-serif;">{{total}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <script>
    $(document).ready(function() {
        $('#example').DataTable({
            "order": [[ 1, "desc" ]]
        });
    } );
    $('#date').datepicker({
        'format': 'yyyy-mm-dd'
    });
    </script>
</div>

{% endblock %}
