{% extends 'layout.html' %}
{% block title %}View punches{% endblock %}
{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src=https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js></script>

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <span class="badge badge-info">{{ message }}</span>
    {% endfor %}
    {%  if errors %}
        <span class="badge badge-warning">{{ errors }}</span>
    {% endif %}
    <h1>Current Pay Period: {{ pay_period[0].strftime("%b %d, %Y") }} to {{ pay_period[1].strftime("%b %d, %Y") }}</h1>
    <h4>Hello, {{current_user.fullname}}!{% if current_user.hourly %} <br>You have accumulated {{totals}} Hours{% endif %}</h4>

    {% if current_user.supervisor or current_user.admin %}
    <hr>
        <div class="row mx-auto justify-content-sm-center">
            <div class="col-sm-4 text-center">
                <a href="/add_custom_punch" class="btn btn-info">Add Custom Punch</a>
            </div>
            {% if current_user.admin %}
            <div class="col-sm-4 text-center">
                <a href="/employee_data" class="btn btn-success">Download Employee Data</a>
            </div>
            {% endif %}
        </div>
    {% endif %}
    <hr>

    {% if punches %}
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            {% for punch in punches %}
                <tr id="row_{{ punch[0].id }}">
                    <script>$('#row_{{ punch[0].id }}').addClass("{{ punch[1] }}")</script>
                    <td class="text-center">
                        {% if current_user.supervisor or current_user.admin %}
                            <a href="/delete/{{ punch[0].id }}" onclick="return confirm('Are you sure?')" class="btn btn-sm btn-danger">Delete Punch</a>
                            <a href="/edit/{{ punch[0].id }}" class="btn btn-sm btn-warning">Edit Punch</a>
                        {% endif %}
                    </td>
                    <td class="text-center" style="font:18px sans-serif;">{{punch[0].time.strftime("%m/%d/%y %H:%M")}}</td>
                    <td class="text-center" style="font:18px sans-serif;">{{punch[0].name}}</td>
                    <td class="text-center" style="font:18px sans-serif;">{{punch[0].status}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <script>
    $(document).ready(function() {
        $('#example').DataTable({
            "order": [[ 1, "desc" ]]
        });
    } );
    </script>
</div>

{% endblock %}
