body, html {
  height: 100%;
  padding-top: 28px;
  background-image: url('/static/flower_background.jpg');
  background-repeat: repeat;
  background-size: cover;
}

.container {
   background-color: #FFFFFF;
   min-height: 100%;
   width: 85%;
   box-shadow: 0px 0px 10px;
}
